<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<h2 class="title-head">Expense Record</h2>

<div class="list-actions">
  <button (click)="toggleSortByDesc()" class="btn btn-outline-dark">
    <span>Sort by Description</span>
    <ng-container *ngIf="sortByDescDir">
      &nbsp;
      <span *ngIf="sortByDescDir === SortDir.Asc"><strong>&#8593;</strong></span>
      <span *ngIf="sortByDescDir === SortDir.Desc"><strong>&#8595;</strong></span>
    </ng-container>
  </button>
  <button (click)="toggleSortByDate()" class="btn btn-outline-dark">
    <span>Sort by Created Time</span>
    <ng-container *ngIf="sortByDateDir">
      &nbsp;
      <span *ngIf="sortByDateDir === SortDir.Asc"><strong>&#8593;</strong></span>
      <span *ngIf="sortByDateDir === SortDir.Desc"><strong>&#8595;</strong></span>
    </ng-container>
  </button>   
</div>

<form class="record-form">
    <th>Description</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Date</th>
    <ng-container *ngFor="let item of items">
    <tr>
    <td class="item-des">{{item.description}}</td>
    <td class="item-des">{{item.type}}</td>
    <td class="item-des">{{item.amount}}</td>
    <td class="item-des">{{ item.createdTime | date :' yy/MM/dd'}}</td>
    
    <button type="button" class="btn btn-outline-danger" title="delete item"
    (click)="delete(item)">x</button></tr>

  </ng-container>
</form>

<!-- <table class="record-form">
    <th>Description</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Date</th>
    ng-container
    <ng-container *ngFor="let item of items ">
    <tr>
    <td>{{ item.description }}</td>
    <td>{{ item.type }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.createdTime | date :' yy/MM/dd'}}</td>
    <td><button type="button" class="btn btn-outline-danger" title="delete item"
        (click)="delete(item)">x</button></td>
    </tr>
    </ng-container>
    <tr>
    <td><input [(ngModel)]="newItem.description" type="text"></td>
    <td><input [(ngModel)]="newItem.type" type="text"></td>
    <td><input [(ngModel)]="newItem.amount" type="text"></td>
    <td><input [(ngModel)]="newItem.createdTime" type="datetime-local"></td>
    <td><button (click)="add()" class="btn btn-primary" style="width: 100px;">Add</button></td>
    </tr>
</table> -->


<div class="add-item">

        <label class="add-label">Description: </label>
        <input id="new-des" #des/>
   
        <label class="add-label">Type: </label>
        <input id="new-des" #type/>
   
        <label class="add-label">Amount: </label>
        <input id="new-des" #amount/>

    <button type="button" class="btn btn-primary" (click)="add(des.value,type.value,amount.value); ">
      Create
    </button>
  </div>
