.title-head {
    width: 480px;
    /* height: 31px;
    text-align: center; */
    font-size: 24px;
    color: rgb(60, 98, 194);
    margin: 16px 0 16px 150px;
}


.item-des {
    width: 100px;
    
}

.item-checkbox {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.record-form{
  display: absolute;
  width: 410px;
  height: 350px;
  margin-left: 80px;
  margin-top: 30px;
}
.add-item{
    display: absolute;
    margin-left: 40px;
}

.list-actions{
    margin-left: 50px;
}

.add-label{
    margin-left: 20px;
}

.btn{
    margin-left: 20px;
}